<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/listing.css" />
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %> <%-
    include("../includes/filters.ejs") %>
    <br />
    <% if (success.length || error.length) { %>
    <div class="container">
      <% if (error.length) { %>
      <div
        class="alert alert-danger alert-dismissible fade show col-4 pffset-8"
        role="alert"
      >
        <strong><%= error %></strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } else { %>
      <div
        class="alert alert-warning alert-dismissible fade show col-4 pffset-8"
        role="alert"
      >
        <strong><%= success %></strong>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
    </div>
    <% } %>
    <div class="listing-container">
      <% allListings.forEach((listing) => { %>
      <a href="/listing/<%= listing._id %>">
        <div class="listing-item">
          <img src="<%= listing.image.url %>" alt="<%= listing.title %>" />
          <div class="listing-details">
            <div class="d-flex justify-content-between">
              <h2><%= listing.title %></h2>
              <div>
                <div style="font-size: 10px; color: rgb(167, 167, 167);">Category</div>
                <span><%= listing.category.charAt(0).toUpperCase() + listing.category.slice(1) %></span>
              </div>
            </div>
            <p><%= listing.location %>, <%= listing.country %></p>
            <p>
              &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
              <b hidden class="gst">With +18% GST</b>
            </p>
            <div style="display: flex; justify-content: center"></div>
          </div>
        </div>
      </a>
      <% }); %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
